html, body{
    height: 100%;
}

body{
    background-color: #19BF96;
}

input[type=email], input[type=password]{
    border-color: #333333!important;
}

.verftical_divider{
    border-left:1px solid #333333;
    border-right:1px solid #333333;
    height:340px;
    position:absolute;
    right:50%;
    top: -90px;
}

#public_container_main{
    min-height: 100%;
    height: 100%;
}

#public_left_container h1{
    font-size: 70px;
}

#public_left_container p{
    font-size: 15px;
    font-weight: bold;
}

#public_right_container{
    padding-top: 10px;
}

label{
    color: #ffffff;
}

.public_link{
    color: #ffffff;
    text-decoration: none;
}
.public_link:hover{
    color: #ffffff;
    text-decoration: none;
}

#public_submit{
    margin-bottom: 20px;
}

.alert{
    margin-top: -70px;
}

.alert-danger{
    background-color: #ffffff;
    border-color: #333333;
    color: #333333;
}

.help-block{
    color: #333333!important;
}

/* MEDIA QUERIES */
/* mobile */
@media (max-width:995px) {
    .alert{
        margin-top: 0;
    }
}
/* phone */
@media (max-width:360px) {
    #public_row{
        margin-top: 40px;
    }
}